

:root{
    --bool-white: rgba(234, 234, 234, 1);
    --bool-black: black;
    --bool-gray: rgba(220, 219, 210, 1);
    --bool-bg-body-top: rgba(0, 150, 136, 1);
    --bool-bg-body-bottom: rgba(177, 177, 177, 1);
    --bool-bg-output-msg: rgba(213, 249, 186, 1);
    --bool-bg-input-msg: rgba(255, 255, 255, 1);
    --bool-bg-banner: rgba(142, 218, 252, 1);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black ; */
}

/* #region common */

body{
    background-image: linear-gradient(var(--bool-bg-body-top) calc(5vh + 6rem), calc(5vh + 6rem), var(--bool-bg-body-bottom) 80%);
}

header{
    position: fixed;
    background-color: var(--bool-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    z-index: 10000;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    padding-right: 1rem;
}

img{
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1;
    width: 4rem;
    margin: 0 1rem;
}

i{
    color: var(--bool-bg-body-bottom);
}
/* #endregion */

/* #region utility */

.container{
    margin: 5vh auto;
    display: flex;
    width: 80%;
    height: 90vh;
}

.p-relative{
    position: relative;

}

/* #endregion */

/* #region left */

.left{
    flex-basis: 35%;
    position: relative;
    &> header{
        width: 28%;
        border-right: 1px solid var(--bool-bg-body-bottom);
    }
}

/* #region header */

/* #endregion */

/* #region banner */

.banner{
    position: fixed;
    top: calc(5rem + 5vh);
    width: 28%;
    height: 6rem;
    background-color: var(--bool-bg-banner);
    display: flex;
    align-items: center;
    gap: 1rem;
    &> i{
    aspect-ratio: 1;
    padding: 1rem;
    border-radius: 50%;
    margin-left: 1rem;
    background-color: var(--bool-bg-input-msg);
    color: var(--bool-bg-banner);
    padding-top: 1.7rem;
    }
    & a{
        color: var(--bool-black);
    }
}

/* #endregion */

/* #region research */

.research{
    position: fixed;
    top: calc(11rem + 5vh);
    width: 28%;
    height: 3.5rem;
    background-color: var(--bool-white);
    padding: 0.5rem;
}

.research-bar{
    background-color: var(--bool-bg-input-msg);
    display: flex;
    gap: 1rem;
    border-radius: 2px;
    border: 1px solid var(--bool-gray);
    padding: 0.5rem;
    padding-left: 1.5rem;
    
    &> input{
        width: 75%;
        border: none;
    }
}

/* #endregion */

/* #region contacts */

.contacts{
    position: fixed;
    top: calc(14.5rem + 5vh);
    width: 28%;
    overflow-x: scroll;
    height: calc(100% - 14.5rem - 10vh);
    background-color: var(--bool-bg-input-msg);
}

.contact-card{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    position: relative;
    border-bottom: 1px solid var(--bool-white);
}

.contact-time{
    position: absolute;
    top: 1.5rem;
    right: 1rem;
}


/* #endregion */

/* #endregion */

/* #region right */

.right{
    flex-basis: 65%;
    &> header{
        width: 51.9%;
    }
}

/* #region header */

.chat-info{
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* #endregion */

/* #region chat-log */

.chat-log{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 7rem 1.5rem;
    background-image: url(../img/chat-bg.jpg);
    overflow-x: scroll;
}

.output{
    background-color: var(--bool-bg-output-msg);
    align-self: flex-end;
    max-width: 66%;
    padding: 0.75rem 1.3rem 0.75rem 0.75rem;
    border-radius: 16px;
    position: relative;
}

.input{
    background-color: var(--bool-bg-input-msg);
    align-self: flex-start;
    max-width: 66%;
    padding: 0.75rem 1.3rem 0.75rem 0.75rem;
    border-radius: 16px;
    position: relative;
}

.msg-info{
    position: absolute;
    top: 7%;
    right: 3%;
}

.msg-time{
    position: absolute;
    bottom: 4%;
    right: 2%;
}

/* #endregion */

/* #region chat-input */

.chat-input{
    position: fixed;
    bottom: 5%;
    width: 51.9%;
    z-index: 10000;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--bool-white);
    &> input{
        width: 75%;
        padding: 1.25rem  0;
        border-radius: 8px;
        border: none;
    }
    & i{
        color: var(--bool-black);
    }
}

/* #endregion */

/* #endregion */

@media screen and (max-width: 991px) {

    .container{
        margin: 0;
        width: 100%;
        height: 100vh;
    }
    
    .d-none{
        display: none;
    }

    .left{
        flex-basis: 6rem;
        &> header{
            width: 6rem;
        }
    }
    
    .contacts{
        top: 5rem;
        width: 6rem;
        height: calc(100% - 5rem);
    }

    .right{
        flex-basis: calc(100% - 6rem);
        &> header{
            width: calc(100% - 6rem);
        }
    }

    .chat-input{
        width: calc(100% - 6rem);
        bottom: 0%;
    }

    
}

@media screen and (max-width: 540px) {
    
}