

:root{
    --bool-white: rgba(234, 234, 234, 1);
    --bool-black: black;
    --bool-gray: rgba(220, 219, 210, 1);
    --bool-bg-body-top: rgba(0, 150, 136, 1);
    --bool-bg-body-bottom: rgba(177, 177, 177, 1);
    --bool-bg-output-msg: rgba(213, 249, 186, 1);
    --bool-bg-input-msg: rgba(255, 255, 255, 1);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black ;
}

/* #region common */

header{
    background-color: var(--bool-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    padding-right: 1rem;
}

img{
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1;
    width: 8vh;
    margin-left: 1rem;
}

/* #endregion */

/* #region utility */

.container{
    margin: 5vh auto;
    display: flex;
    width: 80%;
    height: 90vh;
    background-color: aqua;
}

/* #endregion */

/* #region left */

.left{
    flex-basis: 35%;
}

/* #region header */

/* #endregion */

/* #region banner */

.banner{
    height: 12vh;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    gap: 1rem;
    &> i{
    aspect-ratio: 1;
    padding: 1rem;
    border-radius: 50%;
    margin-left: 1rem;
    background-color: white;
    }
}

/* #endregion */

/* #region research */

.research{
    height: 7vh;
}

/* #endregion */

/* #region contacts */

/* #endregion */

/* #endregion */

/* #region right */

.right{
    flex-basis: 65%;
}

/* #region header */

.chat-info{
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* #endregion */

/* #region chat-log */

.chat-log{
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.75rem 1.5rem;
    background-image: url(../img/chat-bg.jpg);
    overflow-x: scroll;
}

.output{
    background-color: var(--bool-bg-output-msg);
    align-self: flex-end;
    max-width: 66%;
    padding: 0.75rem 1rem 0.75rem 0.75rem;
    border-radius: 16px;
    position: relative;
}

.input{
    background-color: var(--bool-bg-input-msg);
    align-self: flex-start;
    max-width: 66%;
    padding: 0.75rem 1rem 0.75rem 0.75rem;
    border-radius: 16px;
    position: relative;
}

.msg-info{
    position: absolute;
    top: 2%;
    right: 2%;
}

.msg-time{
    position: absolute;
    bottom: 2%;
    right: 1%;
}

/* #endregion */

/* #region chat-input */

.chat-input{
    height: 10vh;
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--bool-gray);
    &> input{
        width: 75%;
        padding: 1.25rem  0;
        border-radius: 8px;
    }
}

/* #endregion */

/* #endregion */

@media screen and (max-width: 991px) {
    
}

@media screen and (max-width: 540px) {
    
}